@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Application summary</h3>

<p>ExpenseBuddy is a software to manage your expenses.</p>
<p>It is mobile/tablet friendly and can be accessed from anywhere!</p>
<p>It was build on ASP.NET MVC Core and utilizes Entity Framework Core.</p>
<p>A project for SoftUni.</p>
